/*
.App {
  text-align: center;
}
*/
.app {
  background-color: #fafafa;
  justify-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*padding:20px; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/
.app__headerImage {
  object-fit: contain;
  background-color: white;
  font-family: billabong;
  padding: 20px;
  font-size: 69px;

}

.app__header {
  object-fit: contain;
  background-color: white;
  font-family: billabong;
  padding: 20px;
  font-size: 69px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 460px;
  /*
position:fixed;
top: 0;
*/
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.app__signup {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: billabong;
  src: url(Billabong.ttf);
  font-weight: bold;
}

.app__bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  justify-content: center;
  text-align: center;
  padding: 2px;

}

/*
.app__content{ 
  position: absolute;
  top: 120px;
}
*/